@media screen and (max-width: 1199px) {
    #main-header {
        .social-icons{
            li:not(:last-child){
                margin-right: 20px;
            }
        }
    }
    .home .smallbox {
        .img-container {
            max-height: 107px!important;
        }
    }

    .home .bigbox {
        overflow: hidden;
        max-height: 223px;
    }
    #blog{
        .blog{
            .bigbox{
                max-height: none!important;
                overflow: visible;
                .image{
                    a {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    #marketing-technology {
        .trans-influ {
            .infograph {
                .info-item {
                    &:nth-child(5) {
                        padding-left: 70px;
                        &::after {
                            left: 60px;
                        }
                    }
                    &:nth-child(7) {
                        padding-right: 70px;
                        &::after {
                            right: 60px;
                        }
                    }
                }
            }
        }
        .social-barometer {
            .barometer-slider {
                .slick-track {
                    .barometer-item {
                        min-height: 363px!important;
                    }
                }
            }
        }
    }
    #what-we-do {
        .core-nav {
            .slick-slide {
                width: 20%!important;
            }
        }
        .btn-category {
            min-height: 130px!important;
        }
    }
}
@media screen and (max-width: 992px) {
    .nav-links {
        display: none;
    }
    #main-header {
        .social-icons{
            display: none;
        }
        .navigation {
            ul {
                width: 90%;
                float: right;
            }
        }
    }
    .box {
        img {
            width: 100%;
            max-height: none!important;
        }
    }
    .home .smallbox {
        .img-container {
            max-height: none!important;
        }
    }

    .home .bigbox {
        overflow: hidden;
        max-height: none!important;
    }
    .blog .news-date,
    .blog .news-date {
        min-height: auto;
    }
    #what-we-do {
        .service-items {
            text-align: center;
        }
        .btn-category {
            min-height: auto!important;
        }
    }
    #big-data {
        .single-view {
            text-align: center;
        }
        .data-discovery {
            .data-items {
                margin-bottom: 20px;
            }
        }
        .services-app {
            .services-nav {
                .services-items {
                    width: 17.4%!important;
                }
            }
        }
        .other-capab {
            .capab-items {
                padding: 0;
                border: none;
                .blue-dots {
                    width: 50%;
                    margin: 0 auto;
                }
            }
        }
    }
    #home .blog desc-text {
        display: none;
    }

    #marketing-technology {
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .intro-martech {
            .intro-items {
                img {
                    margin-bottom: 20px;
                }
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
        .barometer-slider {
            text-align: center;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        .trans-influ {
            padding-bottom: 130px;
            .infograph {
                .info-item {
                    &:nth-child(2) {
                        &::after {
                            width: 355px;
                        }
                    }
                    &:nth-child(5) {
                        &::after {
                            left: 20px;
                        }
                    }
                    &:nth-child(7) {
                        &::after {
                            right: 20px;
                        }
                    }
                }
            }
        }
        .martech-intro {
            .intro-items {
                text-align: center;
            }
        }
        .capab {
            .capab-items {
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 771px) {
    #home {
        .leadership {
            .modal-dialog {
                max-width: 250px !important;
                margin: 0 auto;
                .modal-content {
                    .modal-body {
                        .image{
                            display: block;
                            width: 100%;
                            img{

                            }
                        }
                        .contents{
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #main-header {
        .navigation {
            ul {
                width: 100%;
                float: none;
            }
        }
    }
    #home .about h2 {
        text-align: center!important;
        margin-bottom: 15px!important;
    }

    .cat-container,
    .featured-news,
    .news-articles,
    .news-img,
    .news-date {
        flex-basis: 100%!important;
    }
    .news-date {
        min-height: 150px;
    }
    footer {
        .contact-bar {
            & div > div:first-child {
                text-align: center;
                padding-top: 0;
                padding-bottom: 15px;
            }
        }
    }

    .table-images li {
        display: inline-block!important;
        width: 33.33%!important;
        margin-bottom: 10px;
    }
    #big-data {
        .technologies {
            padding: 0 25px;
            ul {
                li {
                    width: 25%;
                    float: left;
                }
            }
        }
        .services-app {
            .services-nav {
                position: static;
                margin-top: 20px;
                .slick-list {
                    padding: 0!important;
                    .services-items {
                        width: 19.2%!important;
                        &:not(:last-child) {
                            margin-right: 1%;
                        }
                    }
                }
            }
        }
    }
    #marketing-technology {
        .intro-martech {
            .intro-items {
                text-align: center;
                img {
                    margin: 0 auto 20px;
                }
            }
        }
        .trans-influ {
            .infograph {
                padding: 100px 0;
                .info-item {
                    margin: 0!important;
                    margin-bottom: 150px!important;
                    padding: 0 15px!important;
                    &::after {
                        content: '';
                        position: absolute;
                        top: auto!important;
                        bottom: -105px!important;
                        left: 50%!important;
                        transform: rotateZ(-90deg) translateY(-90%)!important;
                        background: url('../../../../agsx.bitbucket.org/images/arrow_straight.png')!important;
                        width: 100px!important;
                        height: 62px!important;
                    }
                    &:last-child {
                        margin-bottom: 0!important;
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        .capab {
            .capab-items {
                img {
                    margin-bottom: 20px!important;
                }
            }
        }
    }
}

@media screen and (max-width: 625px) {
    .navigation {
        ul{
            display: none;
        }
    }
    .buttonresponsive {
        display: block;
    }
    #big-data {
        .other-capab {
            padding: 0 25px;
            .capab-items {
                .blue-dots {
                    width: 100%;
                }
            }
        }
        .technologies {
            ul {
                li {
                    width: 33.33%;
                }
            }
        }
    }
}
@media screen and (min-width: 625px) {
    .buttonresponsive {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .barometer-slider {
        .barometer-item {
            min-height: auto!important;
        }
    }
}
@media screen and (max-width: 480px) {
    .table-images li {
        width: 50%!important;
    }
    #what-we-do {
        .slick-list {
            padding: 0!important;
        }
    }
    #big-data {
        .technologies {
            ul {
                li {
                    width: 50%;
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {

}
@media (min-width: 768px){
    .modal-dialog {
        width: auto;
        margin: 30px auto;
    }
}
