@mixin flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex-col-2 {
    flex-basis: 50%;
    align-self: stretch;
}

@mixin flex-col-3 {
    flex-basis: 33.33%;
    align-self: stretch;
}
@mixin links ($link, $visited, $hover, $active) {
    & {
        color: $link;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active, &:focus {
            color: $active;
        }
    }
}
