.btn {
    padding: 12px 20px;
    display: inline-block;
    background-color: $color__dark;
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: 400;
    border-radius: 0;
    border: none;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color__primary;
        width: 0%;
        height: 100%;
        transition: width .2s ease;
        z-index: -1;
    }

    &:hover {
        text-decoration: none;
        background-color: $color__dark;
        color: #fff;
    }
}

.btn-contact {
    &:hover {
        text-decoration: none;
        background-color: $color__dark;
        color: #fff;

        &:after {
            width: 100%;
        }
    }
}

.btn-primary {
    padding: 12px 20px;
    display: inline-block;
    background-color: $text__black;

    span {
        color: $color__primary;
    }
}
