#big-data {
    img {
        display: block;
        margin: 0 auto;
    }
    .three-solutions {
        margin-top: 50px;
        & > div:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .single-view {
        h2 {
            margin-bottom: 20px;
            text-transform: none;
        }

        p {
            font-weight: 300;
            margin-bottom: 30px;
        }

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    .data-discovery {
        .data-items-container {
            margin-top: 50px;

            .data-items {
                img, .day-span, h3 {
                    margin-bottom: 20px;
                }
                p {
                    color: $text__black;
                }
                .day-span {
                    font-style: italic;
                }
            }
        }
    }

    .other-capab {
        margin-top: 50px;
        .capab-items {
            padding: 0 55px;
            border-right: 1px solid $color__dark-gray;
            min-height: 125px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0px;
                border-right: none;
            }

            ul {
                list-style: none;

                li {
                    font-size: 18px;
                    position: relative;
                    padding-left: 25px;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 0;
                        background: url(../../../../agsx.bitbucket.org/images/mark_blue-bullet.png);
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }

    .data-driven {
        margin-top: 50px;

        .nav {
            li {
                .tabs-style {
                    border: none;
                    background-color: $color__light-gray;
                    text-transform: uppercase;
                    border-radius: 0;
                    padding: 60px 0;
                    font-size: 24px;
                    font-weight: 500;
                    color: $text__black;
                    margin-right: 10px;

                    &:hover {
                        background-color: $color__primary;
                        color: #fff;
                    }
                }

                &:last-child .tabs-style {
                    margin-right: 0;
                }
            }
            li.active {
                .tabs-style {
                    background-color: $color__primary;
                    color: #fff;
                }
            }
        }

        .tab-content {
            background-color: $color__light-gray;
            border: 1px solid $color__primary;
            padding: 60px 50px;

            h3 {
                margin-bottom: 20px;
            }

            ul {
                list-style: none;
                margin-bottom: 60px;
                li {
                    color: $text__black;
                    position: relative;
                    padding-left: 20px;

                    &::before {
                        content: '•';
                        position: absolute;
                        top: -7px;
                        left: 0;
                        font-size: 24px;
                    }
                }
            }

            .tab-items {
                margin-bottom: 20px;
            }
        }
    }

    .services-app {
        h2 {
            margin-bottom: 50px;
        }
        .services-left {
            min-height: 296px;
            position: relative;

            .services-desc {
                padding-top: 40px;
            }

            .services-nav {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin-bottom: 40px;

                .services-items {
                    display: inline-block;
                    cursor: pointer;
                    text-align: center;
                    margin-right: 20px;
                    overflow: visible;

                    img {
                        margin-bottom: 10px;
                        display: inline-block;
                        height: 37px;
                    }

                    h4 {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -15px;
                            width: 100%;
                            left: 0;
                            right: 0;
                            height: 5px;
                            background-color: #fff;
                            transform: scaleX(0);
                            transition: all 0.5s ease;
                        }
                    }

                    &:hover h4::after {
                        transform: scaleX(1)!important;
                    }
                }

                .slick-track {
                    width: 100%!important;
                    left: 0!important;
                    height: 81px;

                    .services-items {
                        &.slick-current {
                            h4::after {
                                transform: scaleX(1)!important;
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }

    .unawa-stack {
        h2 {
            margin-bottom: 50px;
        }

        ul {
            padding-top: 20px;
        }
    }

    .technologies {
        border-bottom: 1px solid #fff;
        h2 {
            margin-bottom: 50px;
        }
        ul {
            display: table;
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            li {
                display: table-cell;
            }
        }
    }
}
