.expertise {
	.header {
		border-bottom: 1px solid #d9d9d9;
		margin-bottom: 30px;
		padding-bottom: 20px;
	}

	.whitepaper {
		.wp-container {
			background-color: $color__light-gray;
			padding: 50px;

			h3 {
				margin-bottom: 10px;
				font-weight: 700;
			}

			.tags {
				margin-bottom: 25px;

				ul {
					list-style: none;
					display: inline-block;

					li {
						display: inline-block;

						a {
							color: $color__primary;
							text-decoration: underline;
						}
					}
				}
			}

			p {
				margin-bottom: 30px;
			}
		}

		.btn-primary {
			display: block;
			text-align: center;
		}
	}
}
