#home{
    // about
    .about{
        h2{
            color: #1c1c1c;
            text-transform: uppercase;
            text-align: right;
        }
        p{
            color: #929497;
            margin-bottom: 20px;
        }
        .learn-more{
            background: #202020;
            padding: 15px;
            margin-top: 40px;
            color: white;
            font-weight: 300;
            line-height: 24px;
            text-align: center;

            span{
                color: #4cc4dc;
                font-weight: 500;
            }
        }
    }
    // about

    // blog
    .blog{
        background: #f0f0f0;
        padding: 85px 0px;
        h2{
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        .box{
            background: #fff;
            & > div {
                padding: 0;
            }
            img{
                max-height: 311px;
            }
            .desc{
                padding: 35px 30px;
                .desc-header{
                    .news-category{
                        color: #00abcd;
                        line-height: 24px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    .news-title {
                        margin-top: 5px;
                        a {
                            color: $text__black;
                        }
                    }
                    .news-date {
                        font-weight: 300;
                    }
                }
                .desc-text {
                    margin-top: 20px;
                }
            }
        }

        .smallbox, .bigbox {
            margin-bottom: 20px;
        }

        .smallbox {
            img {
//                height: 140px;
                width: 100%;
            }
            .desc {
                padding: 20px 30px;
            }
            .img-container {
                overflow: hidden;
                max-height: 158px;
            }
        }

        .bigbox {
            overflow: hidden;
            overflow: hidden;
            max-height: 275px;
        }
    }
    // blog

    // leadership
    .leadership{
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;

        .container {
            position: relative;
        }
        .modal-dialog{
            max-width: 850px !important;
            .modal-content{
                border-radius: 0px;
                .modal-body{
                    position: relative;
                    padding: 0px;

                    .closebutton{
                        position: absolute;
                        right: -12px;
                        top: -12px;
                        background: $color__primary;
                        border-radius: 100%;
                        border: 2px solid #fff;
                        height: 27px;
                        width: 27px;
                        color: #fff;
                    }
                    .image{
                        display: inline-block;
                        width: 49.9%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .contents{
                        display: inline-block;
                        width: 49.5%;
                        vertical-align: top;
                        padding-top: 30px;
                        height: 579px;
                        overflow: scroll;
                        h2{
                            text-transform: none;
                        }
                        .position{
                            font-weight: 100;
                            font-size: 21px;
                            color: $color__primary;
                            margin-bottom: 15px;
                        }
                        p{
                            font-size: 14px;
                            width: 80%;
                            margin: 0 auto 15px;
                        }
                    }
                }
            }
        }


       .prev{
           position: absolute;
           left: -35px;
           top: 55%;
           cursor: pointer;
           &:hover{
               color: $color__primary;
               transition: all .7s ease;
           }
       }
       .next{
           position: absolute;
           right: -35px;
           top: 55%;
           cursor: pointer;
           &:hover{
               color: $color__primary;
               transition: all .7s ease;
           }
       }
        h2{
            color: #202020;
            text-transform: uppercase;
        }
        h4{
            color: #929497;
            margin-bottom: 35px;
        }
        .leader-list{
            margin-top: 25px;
            margin-right: -28px;
            position: relative;
            .leader{
                width: 17.8%;
                margin-right: 28px;
                display: inline-block;

                .shadow{
                    position: relative;
                    overflow: hidden;

                    &:before {
                        content: '';
                        -webkit-box-shadow: inset 2px -96px 66px -23px rgba(0,0,0,0.75);
                        -moz-box-shadow: inset 2px -96px 66px -23px rgba(0,0,0,0.75);
                        box-shadow: inset 2px -96px 66px -23px rgba(0,0,0,0.75);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s ease;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    img{
                        z-index: -2;
                        display: block;
                        width: 100%;
                        position: relative;
                    }
                    .name {
                        color: white;
                        font-size: 19px;
                        line-height: 22px;
                        position: absolute;
                        bottom: 10px;
                        top: 80%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 90%;
                        transition: all 0.4s ease-out;
                    }
                    .position {
                        font-size: 16px!important;
                        position: absolute;
                        top: 80%;
                        left: 50%;
                        font-weight: 300;
                        opacity: 0;
                        transform: translateX(-50%);
                        transition: all 0.5s ease;
                        width: 100%;
                        color: #fff;
                        margin-top: 10px;
                    }

                    .viewprofile{
                        text-transform: uppercase;
                        font-size: 12px !important;
                        font-weight: 500;
                        opacity: 0;
                        transform: translateX(-50%);
                        transition: all 0.5s ease;
                        position: absolute;
                        top: 80%;
                        left: 50%;
                        color: #fff;
                        border: 1px solid #fff;
                        padding: 10px;
                        width: 70%;
                        text-decoration: none;
                    }

                    &:hover .name {
                        top: 45%;
                    }

                    &:hover .position {
                        top: 60%;
                        opacity: 1;
                    }

                    &:hover .viewprofile {
                        top: 75%;
                        opacity: 1;
                    }
                }
            }
        }
    }
    // leadership

    // culture
    .culture{
        background: #f0f0f0;
        .right{
            h3{
                text-transform: uppercase;
                margin-top: 40px;
                margin-bottom: 5px;
                & + p {
                    margin-bottom: 5px;
                }
            }
            p{
                i{
                    text-transform: uppercase;
                    margin: 5px 0;
                    display: block;
                }
            }
            img {
                margin-bottom: 20px;
            }
        }
        .left{
            h3{
                text-transform: uppercase;
                margin-bottom: 40px;
            }
            p{
                margin-bottom: 20px;
            }
        }
    }
    // culture

    // clients
    .table-images {
        list-style: none;
        width: 100%;
        text-align: center;
        display: table;
        table-layout: fixed;
        padding: 40px 0;

        li {
            display: table-cell;
        }
    }

    .clients {

        .container {
            border-bottom: 1px solid $color__light-gray;
        }

        .quote {
            position: relative;
            padding: 20px 10px;
            margin-bottom: 0;

            blockquote {
                border: none;
            }
            &:before,
            &:after {
                content: '"';
                position: absolute;
                width: auto;
                height: auto;
                color: $color__primary;
                font-family: 'Gotham', sans-serif;
                font-weight: 700;
                font-size: 30px;
            }
            &:before {
                top: -10px;
                left: 0;
            }

            &:after {
                bottom: 50px;
                right: 0;
            }

            .client-name {
                color: $color__primary;
                font-weight: 500;
            }
        }

        .slick-dots{
            li{
                display: inline-block;
                button{
                    font-size: 0;
                    cursor: pointer;
                    color: transparent;
                    border: none;
                    outline: none;
                    background: transparent;
                    &:before{
                        font-size: 25px;
                        content: "•";
                        color: #d9d9d9;
                    }
                }
            }
            li.slick-active{
                button{
                    font-size: 0;
                    &:before{
                        font-size: 25px;
                        content: "•";
                        color: $color__primary;
                    }
                }
            }
        }
    }
    // clients
}
