* {
    outline: none!important;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Gotham';
    font-size: 16px;
    background-color: #ffffff;
    color: $text__light;
}
h1, h2, h3, h4, h5, h6, p, a, ul, li {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: $text__black;
}
p, li, a {
    font-size: 16px;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h3 {
    font-size: 24px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 16px;
}
a {
    @include links($color__primary, $color__primary, $color__primary, $color__primary);
}
a:hover {
    text-decoration: none;
}
p.sub-title {
    font-size: 18px;
    font-weight: 300;
}
p {
    span {
        color: $color__primary;
    }
}
.buttonresponsive {
    top: 20px!important;
}
.text-invert {
    h1, h2, h3, h4, h5, h6, p, a, ul, li {
        color: #fff;
    }
}
.content-pad {
    padding: 80px 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.no-bullet {
    list-style: none;
}
.section-border {
    border-bottom: 1px solid #dcdcdc;
}
.blue {
    background-color: $color__secondary;
}
.light-gray {
    background-color: $color__light-gray;
}
.img-gray-bd {
    border: 1px solid $color__dark-gray;
}
