#main-header {
    position: relative;
    overflow: hidden;
    color: #ffffff;
//    background: url('../../../images/temp-header-bg.png ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 608px;
//    padding: 20px 35px 50px 50px;
.modal-dialog{
    max-width: 850px !important;
    .modal-content{
        border-radius: 0px;
        .modal-body{
            position: relative;
            padding: 0px;
            .closebutton{
                position: absolute;
                right: -12px;
                top: -12px;
                background: $color__primary;
                border-radius: 100%;
                border: 2px solid #fff;
                height: 27px;
                width: 27px;
                color: #fff;
                text-align: center;
            }
            .contactus{
                padding: 20px;
                h2{
                    text-align: center;
                }
                .container{
                    max-width: 800px;
                    input[type=text], input[type=email], input[type=tel], textarea{
                        color: #000;
                        margin-bottom: 15px;
                        padding: 10px;
                        display: block;
                        width: 100%;
                    }
                    input[type=submit]{
                        background-color: #454545;
                        color: #fff;
                        box-shadow: none;
                        border: 0;
                        text-shadow: none;
                        padding: 12px 20px;
                        transition: .7s ease all;
                        position: relative;
                        &:hover &:after{
                                width: 100%;
                                background-color: #00abcd;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: #00abcd;
                            width: 0;
                            height: 100%;
                            transition: width .2s ease;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }
}
    #bgvid{
        top: 0;
        right: 0;
        left: 0;
        -webkit-filter: brightness(.4);
        filter: brightness(.4);
        min-width: 100%;
        min-height: 100%;
        z-index: -99;
        background: #000;
    }
    .nav-header {
        position: fixed;
        left: 0;
        right: 0;
        transition: all 0.5s ease;
        z-index: 2;

        .logo {
            margin-top: 20px;
            transition: all 0.5s ease;

            img {
                height: 80px;
                transition: all 0.5s ease;
            }
        }
    }

    a{
        color: #fff;
    }
    .center-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

       .banner-title {
            color: #f7f7f7;
            font-family: 'Gotham', sans-serif;
            font-size: 36px;
            line-height: 48px;
            text-transform: uppercase;
            font-weight: 300;
            text-align: center;
            span{
                font-weight: 500;
            }
        }

        p {
            color: #fff;
        }
    }
    .social-icons{
        margin-top: 50px;
        transition: all 0.5s ease;
        li{
            display: inline-block;
            list-style: none;
            &:not(:last-child) {
                margin-right: 30px;
            }

            a {
                transition: all 0.5s ease;
            }
        }
    }
    .navigation{
        position: absolute;
        bottom: 50px;
        top: auto;
        left: 0;
        right: 0;
        text-align: center;
        transition: all 0.5s ease;
        z-index: 2;

        ul{
            li{
                display: inline-block;
                list-style: none;
                &:not(:last-child) {
                    margin-right: 75px;
                }
                a{
                    text-transform: uppercase;
                }
            }
        }
    }
}

.shrink {
    z-index: 999;
}

.nav-header.shrink {
    background-color: #fff;
    padding: 15px 0;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);

    .logo {
        margin-top: 0!important;

        img {
            height: 50px!important;
        }
    }

    .social-icons {
        margin-top: 15px!important;

        a {
            color: #1c1c1c!important;
        }
    }
}

.navigation.shrink {
    position: fixed!important;
    top: 30px!important;
    bottom: auto!important;
    a {
        color: #1c1c1c!important;
    }
}

@media screen and (min-width: 480px) {
    #main-header {
        .logo{
            text-align: center;
        }
        .social-icons-container{
            text-align: center;
        }
    }
}

/*styling open close button*/
.buttonresponsive {
    display:inline;
    position:fixed;
    right:50px;
    top:6px;
    z-index:999;
    font-size:30px;
    cursor: pointer;
}
.buttonresponsive a {
    text-decoration:none;
}
.btn-open:after {
    color:#fff;
    content:"\f0c9";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size: 30px;
}
.btn-open:hover:after {
    color:#0B8BB3;
}
.btn-close:after {
    color:#fff;
    content:"\f00d";
    font-family:"FontAwesome";
    transition-property:all .2s linear 0s;
    -moz-transition:all .2s linear 0s;
    -webkit-transition:all .2s linear 0s;
    -o-transition:all .2s linear 0s;
    font-size: 30px;
}
.btn-close:hover:after {
    color: #0B8BB3;
}
.overlay {
    display:none;
    position:fixed;
    top:0;
    height:100%;
    width:100%;
    background:#333;
    overflow:auto;
    z-index:99;
    padding-top: 150px;
    ul{
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        li{
            display: block;
            width: 100%;
            a{
                color:#fff;
                transition-property: all .2s linear 0s;
                -moz-transition: all .2s linear 0s;
                -webkit-transition: all .2s linear 0s;
                -o-transition: all .2s linear 0s;
                &:hover{
                    color: #0B8BB3;
                }
            }
        }
    }
}
.buttonresponsive.shrink {
    .btn-open:after{
        color: #000!important;
    }
    .btn-close:after {
        color: #000!important;
    }
}
