#main-nav {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
    .nav-links {
        float: right;

        #menu-primary-menu {
            list-style: none;

            li {
                display: inline-block;
                margin-left: 15px;

                a {
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: 400;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: #fff;
                        bottom: -4px;
                        transform: scale(0, 1);
                        left: 0;
                        transform-origin: right top;
                        transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
                    }

                    &:hover:before{
                        transform: scale(1, 1);
                        transform-origin: left top;
                    }
                }
            }

            .btn-cta {
                border: 3px solid #ffffff;
                display: inline-block;


                a {
                    position: relative;
                    padding: 10px;
                    display: inline-block;


                    &:before {
                        content: '';
                        position: absolute;
                        height: 99.8%;
                        width: 100%;
                        opacity: 0;
                        background-color: #fff;
                        left: 0;
                        top: 0;
                        transition: all 0.4s ease;
                        z-index: -1;
                        transform: none;
                    }

                    &:hover:before{
                        opacity: 1;
                        transition: all 0.4s ease;
                    }

                    &:hover {
                        color: #1a1a1a;
                    }
                }
            }
        }
    }
}

