@font-face {
	font-family: 'Gotham';
	src: url(../../src/fonts/gotham/gotham-light.otf);
	font-weight: 300;
}
@font-face {
	font-family: 'Gotham';
	src: url(../../src/fonts/gotham/gotham-book.otf);
	font-weight: 400;
}
@font-face {
	font-family: 'Gotham';
	src: url(../../src/fonts/gotham/gotham-medium.otf);
	font-weight: 500;
}
@font-face {
	font-family: 'Gotham';
	src: url(../../src/fonts/gotham/gotham-bold.otf);
	font-weight: 700;
}
